{% extends 'base-fe.html.twig' %}

{% block meta %}
	<meta name="robots" value="no-index, no-follow">
{% endblock %}
{% block title %}KWANDA
{% endblock %}

{% block body %}

<!--==========================
	Header
	============================-->
	<header id="header">
		<div class="container-fluid">

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-has-children menu-active">
						<a href="{{ path('app_home2') }}"></a>
					</li>
					
					<li class="menu-has-children menu-active">
						<a href="#intro">WHO WE ARE</a>
                        <ul>
							<li><a href="{{ path('app_about') }}">About us</a></li>
							<li><a href="{{ path('app_service') }}">Services</a></li>
							<li><a href="{{ path('app_emergency') }}">Emergency Response</a></li>
							<li><a href="{{ path('app_skills') }}">Our Skills</a></li>
							<li><a href="{{ path('app_ournumber') }}">Our Numbers</a></li>
							<li><a href="{{ path('app_team') }}">Board & GM Team</a></li>
						</ul>
					</li>

                    <li class="menu-has-children">
						<a href="#">OUR PORTFOLIO</a>
                        <ul>
							<li><a href="{{ path('app_portfolio') }}">Our Portfolio</a></li>
							<li><a href="{{ path('app_clients') }}">Our Clients</a></li>
							<li><a href="{{ path('app_testimonial') }}">Testimonials</a></li>
						</ul>
					</li>

                    <li class="menu-has-children">
						<a href="#">SUSTAINABILITY</a>
                        <ul>
							<li><a href="{{ path('app_qhse') }}">QHSE</a></li>
							<li><a href="{{ path('app_social') }}">Social Responsibility </a></li>
							<li><a href="{{ path('app_sport') }}">Sports Promotion</a></li>
							<li><a href="{{ path('app_news') }}">Kwanda News</a></li>
						</ul>
					</li>

					<li>
						<a href="#contact">CONTACT US</a>
					</li>

					<li>
						<a href="#contact"></a>
					</li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->

	<!--==========================

	<!-- Page Header Start -->
	<div id="headerstart" class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-2 text-white mb-4 animated slideInDown"></h1>
			<nav aria-label="breadcrumb animated slideInDown">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item">
						<a href="{{ path('app_home2') }}">Home</a>
					</li>
					{# <li class="breadcrumb-item">
						<a href="#">Pages</a>
					</li> #}
					<li class="breadcrumb-item text-primary" aria-current="page">Kwanda News</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Page Header End -->

	<main id="main">

	

	</main>

	<!-- Footer -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-info">
						<h3>KWANDA</h3>
						<p>Integrated Logistics Services support Partner, towards excellence for Customers satisfaction!.</p>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Home</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">About us</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Services</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Terms of service</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Privacy policy</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-contact">
						<h4>Contact Us</h4>
						<p>
							Belas Business Park, Edifiício Namibe, 5° Andar - Talatona
							<br>
							Luanda, NIF 5403049134<br>
							ANGOLA
							<br>
							<strong>Phone:</strong>
							+244 226425200<br>
							<strong>Email:</strong>
							contact@kwanda.co.ao<br>
						</p>

						<div class="social-links">
							<a href="#" class="twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" class="facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" class="instagram">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="#" class="google-plus">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#" class="linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</div>

					</div>

					<div class="col-lg-3 col-md-6 footer-newsletter">
						<h4>KWANDA News</h4>
						<p>KWANDA News is a set of informative content about relevant facts related to our operations at the Base in Soyo and particularly about our social responsibility in the Province of Zaire and in general in Angola.</p>
						<form action="" method="post">
							<input type="email" name="email"><input type="submit" value="Subscribe">
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div id="logo" class="pull-left mt-4">
				<h1>
					<a href="{{ path('app_home') }}" class="scrollto"><img src="img/logo.png" alt="" title="" /></a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<div class="copyright">
				&copy; Copyright
				<strong>KWANDA</strong>. All Rights Reserved
			</div>
			<div
				class="credits">
				<!-- All the links in the footer should remain intact.
				You can delete the links only if you purchased the pro version.
				Licensing information: https://bootstrapmade.com/license/
				Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=KWANDA
				-->
				{# Best
				<a href="https://bootstrapmade.com/"></a>
				by KWANDA #}
			</div>
		</div>
	</footer>
	<!-- #footer -->

	<a href="{{ path('app_home') }}" class="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

{% endblock %}
