{% extends 'base-fe.html.twig' %}

{% block meta %}
	<meta name="robots" value="no-index, no-follow">
{% endblock %}
{% block title %}KWANDA
{% endblock %}

{% block body %}

<!--==========================
	Header
	============================-->
	<header id="header">
		<div class="container-fluid">

			<div id="logo" class="pull-left">
				<h1>
					<a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title="" /></a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-has-children menu-active">
						<a href="#intro">WHO WE ARE</a>
                        <ul>
							<li><a href="{{ path('app_about') }}">About us</a></li>
							<li><a href="{{ path('app_service') }}">Services</a></li>
							<li><a href="{{ path('app_emergency') }}">Emergency Response</a></li>
							<li><a href="{{ path('app_skills') }}">Our Skills</a></li>
							<li><a href="{{ path('app_ournumber') }}">Our Numbers</a></li>
							<li><a href="{{ path('app_team') }}">Board & GM Team</a></li>
						</ul>
					</li>

                    <li class="menu-has-children">
						<a href="#intro">OUR PORTFOLIO</a>
                        <ul>
							<li><a href="{{ path('app_portfolio') }}">Our Portfolio</a></li>
							<li><a href="{{ path('app_clients') }}">Our Clients</a></li>
							<li><a href="{{ path('app_testimonial') }}">Testimonials</a></li>
						</ul>
					</li>

                    <li class="menu-has-children">
						<a href="#intro">SUSTAINABILITY</a>
                        <ul>
							<li><a href="{{ path('app_qhse') }}">QHSE</a></li>
							<li><a href="{{ path('app_social') }}">Social Responsibility </a></li>
							<li><a href="{{ path('app_sport') }}">Sports Promotion</a></li>
							<li><a href="{{ path('app_news') }}">Kwanda News</a></li>
						</ul>
					</li>

					<li>
						<a href="#contact">SIGNUP</a>
					</li>

					<li>
						<a href="#contact">SIGNIN</a>
					</li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->

	<!--==========================

<!--Intro Section Start -->
	<section id="intro">
		<div class="intro-container">
			<div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

				<ol class="carousel-indicators"></ol>

				<div class="carousel-inner" role="listbox">

					<div class="carousel-item active" style="background-image: url('img/intro-carousel/1.jpg');">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2>Committment with Custmers Satisfaction</h2>
								<p>Since its creation, KWANDA's focus has been to ensure the Base's operability, aiming for the satisfaction of its customers and interested parties.</p>
								<a href="#featured-services" class="btn-get-started scrollto">Read More</a>
							</div>
						</div>
					</div>

					<div class="carousel-item" style="background-image: url('img/intro-carousel/2.jpg');">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2>Commitment with Safe Operations</h2>
								<p>Operations at the KWANDA Base comply with HSE standards and procedures in order to promote a safety culture at all levels with risk assessment, permit work, near miss control and other practices. Certified by ISO 9001, the fight continues for 45001, 14001, ...</p>
								<a href="#featured-services" class="btn-get-started scrollto">Read More</a>
							</div>
						</div>
					</div>

					<div class="carousel-item" style="background-image: url('img/intro-carousel/3.jpg');">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2>Commitment with Security</h2>
								<p>For decades, KWANDA has assumed a considerable cost aimed at the asset security of infrastructures and operational conditions in order to comply with ISPS requirements and requirements, thus allowing us to maintain the level at which we are certified.</p>
								<a href="#featured-services" class="btn-get-started scrollto">Read More</a>
							</div>
						</div>
					</div>

					<div class="carousel-item" style="background-image: url('img/intro-carousel/4.jpg');">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2>Commitment with Busisness Sustainbility</h2>
								<p>KWANDA Partners require productive operational commitment and positive financial management in order to guarantee always active and evident sustainability.</p>
								<a href="#featured-services" class="btn-get-started scrollto">Read More</a>
							</div>
						</div>
					</div>

					<div class="carousel-item" style="background-image: url('img/intro-carousel/5.jpg');">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2>Commitment with Collaborators Satisfaction</h2>
								<p>With satisfactory operational and financial results, KWANDA is committed to promoting actions aimed at contributing to the development of the social well-being of its employees who, for years and years, 24/7, have demonstrated significant dedication to the company's business.</p>
								<a href="#featured-services" class="btn-get-started scrollto">Read More</a>
							</div>
						</div>
					</div>

				</div>

				<a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>

				<a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div>
		</div>
	</section>
	<!-- #intro -->

    <main id="main">
    <!--Intro Section End -->

		<!--Featured Services Section -->
			<section id="featured-services"> <div class="container">
				<div class="row">

					<div class="col-lg-4 box">
						<i class="ion-ios-bookmarks-outline"></i>
						<h4 class="title">
							<a href="">Integrated Logistics Services</a>
						</h4>
						<p class="description">Offering a full range of services to the O&G industry in the subsariane region, providing to each company with facilities and dedicated equipement for the management and operation of its logistics activities.</p>
					</div>

					<div class="col-lg-4 box box-bg">
						<i class="ion-ios-heart-outline"></i>
						<h4 class="title">
							<a href="">Oil Platforms Geographic Localization</a>
						</h4>
						<p class="description">Geographically, the Kwanda Base is very well positioned in Angola and the sub-Saharan region to ensure logistical support for the O&G industry.</p>
					</div>

					<div class="col-lg-4 box">
						<i class="ion-ios-stopwatch-outline"></i>
						<h4 class="title">
							<a href="">Operation Services Availability 24h/7</a>
						</h4>
						<p class="description">To meet the numerous needs of its customers, KWANDA has work regimes that guarantee 24/7 operation, ensuring the implementation of property security policies - port facilities and finally occupational hygiene and safety.</p>
					</div>

				</div>
			</div>
		</section>
		<!-- #featured-services -->

        <!-- Call To Action Section -->
		<section id="call-to-action" class="wow fadeIn">
			<div class="container text-center">
				<h3>Call To Action</h3>
				<p>
					For any and all emergency situations during the execution of operations inside and outside the Base, always do your best and contact our combat teams always on standby.</p>
				<a class="cta-btn" href="#">Call To Action</a>
			</div>
		</section>
		<!-- #call-to-action -->
    </main>

    <!-- Footer -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-info">
						<h3>KWANDA</h3>
						<p>Integrated Logistics Services support Partner, towards excellence for Customers satisfaction!.</p>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Home</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">About us</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Services</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Terms of service</a>
							</li>
							<li>
								<i class="ion-ios-arrow-right"></i>
								<a href="#">Privacy policy</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-contact">
						<h4>Contact Us</h4>
						<p>
							Belas Business Park, Edifiício Namibe, 5° Andar - Talatona
							<br>
							Luanda, NIF 5403049134<br>
							ANGOLA
							<br>
							<strong>Phone:</strong>
							+244 226425200<br>
							<strong>Email:</strong>
							contact@kwanda.co.ao<br>
						</p>

						<div class="social-links">
							<a href="#" class="twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" class="facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" class="instagram">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="#" class="google-plus">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#" class="linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</div>

					</div>

					<div class="col-lg-3 col-md-6 footer-newsletter">
						<h4>Our News</h4>
						<p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
						<form action="" method="post">
							<input type="email" name="email"><input type="submit" value="Subscribe">
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; Copyright
				<strong>KWANDA</strong>. All Rights Reserved
			</div>
			<div
				class="credits">
				<!-- All the links in the footer should remain intact.
				You can delete the links only if you purchased the pro version.
				Licensing information: https://bootstrapmade.com/license/
				Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=KWANDA
				-->
				Best
				<a href="https://bootstrapmade.com/"></a>
				by KWANDA
			</div>
		</div>
	</footer>
	<!-- #footer -->

	<a href="#" class="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>


{% endblock %}
